streamlit
requests
re # (This is the built-in Python regex module, no need to install it)
langchain
langchain-google-genai
langchain-groq
langchain-community
faiss-cpu # Or use faiss-gpu if needed
python-dotenv
bs4
